<%= render 'layouts/navbar' %>

<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <div class="input-field">
        <input class="validate" type="text" id="idea-title">
        <label for="idea-title">Title</label>
      </div>
      <div class="input-field">
        <input class="form-control" type="text" id="idea-body">
        <label for="idea-body">Description</label>
      </div>
      <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
  </div>

  <div class="row">
    <div class="col m10 offset-m1">
      <ul class="collection" id="idea-listing"></ul>
    </div>
  </div>
</div>
