<nav>
  <div class="nav-wrapper">
    <a href="#" id="brand-logo">IdeaBox2.0</a>
    <ul id="nav-mobile" class="right">
      <li>
        <form>
          <div class="input-field">
            <input id="search-query" type="search" required>
            <label for="search-query"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <form id="live-search" action="" class="styled" method="post">
      <fieldset>
        <input type="text" class="text-input" id="filter" value="" />
        <span id="filter-count"></span>
      </fieldset>
    </form>
    <!-- <div class="col m8 offset-m2" id="search-form">
      <div class="form-group" id="search-box">
        <input class="form-control" type="search" id="search-query">
        <label for="search-query">What ideas are you looking for?</label>
      </div>
    </div> -->
  </div>

  <div class="row">
    <div class="col m8 offset-m2">
      <div class="input-field">
        <input class="validate" type="text" id="idea-title">
        <label for="idea-title">Title</label>
      </div>
      <div class="input-field">
        <input class="form-control" type="text" id="idea-body">
        <label for="idea-body">Description</label>
      </div>
      <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
  </div>

  <div class="row">
    <div class="col m10 offset-m1">
      <ul class="collection" id="idea-listing"></ul>
    </div>
  </div>
</div>
