<nav>
  <div class="nav-wrapper">
    <%= link_to "IdeaBox2.0", root_path, id: "brand-logo" %>
    <ul id="nav-mobile" class="right">
      <li>
        <form id="live-search" action="" class="styled" method="post">
          <div class="input-field">
            <input id="filter" type="text" class="text-input" value="" />
            <label for="filter"><i class="material-icons">search</i></label>
          </div>
          <span id="filter-count"></span>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col m8 offset-m2">
      <div class="input-field">
        <input class="validate" type="text" id="idea-title">
        <label for="idea-title">Title</label>
      </div>
      <div class="input-field">
        <input class="form-control" type="text" id="idea-body">
        <label for="idea-body">Description</label>
      </div>
      <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
  </div>

  <div class="row">
    <div class="col m10 offset-m1">
      <ul class="collection" id="idea-listing"></ul>
    </div>
  </div>
</div>
