#delete-idea {
  margin-top: 5px;
  margin-right: 50px;
  padding-right: 50px;
}

#idea-item {
  line-height: 15px;
  margin-bottom: -.1rem;
}

// #delete-idea.btn-flat i {
//   color: red;
//   margin-right: 50px;
// }

.title-editable {
  outline-width: thin;
  outline-color: green;
}

.body-editable {
  outline-width: thin;
  outline-color: green;
}
a#thumbs-up-idea.secondary-content.btn-flat {
  // padding-top: 2px;
  // padding-right: 2rem;
  // padding-bottom: 2rem;
  padding-left: 2rem;
  margin-left: 2rem;
}

// #thumbs-down-idea {
//   position: absolute;
//   color: red;
  // padding-top: 25px;
  // padding-right: 2rem;
//   padding-bottom: 2rem;
//   padding-left: 1rem;
// }

#brand-logo {
  padding-left: 1.5rem;
  font-size: 30px;
}

#live-search {
  padding-right: 70px;
}

#filter-count {
  color: black;
  padding-left: 10px;
}

.nav-wrapper {
  background-color: #3f51b5;
}
