#search-query {
  text-align: center;
}

#search-box {
  text-align: center;
}

#delete-idea {
  margin-top: 5px;
  margin-right: 50px;
  padding-right: 50px;
}

#idea-item {
  line-height: 15px;
  margin-bottom: -.1rem;
}

#delete-idea.btn-flat a {
  color: red;
}
